NEXT_PUBLIC_TINA_CLIENT_ID=your_tina_client_id
TINA_TOKEN=your_tina_read_only_token
TINA_PREVIEW_ORIGIN=https://englishplumber.nl
DEEPL_API_KEY=your_deepl_api_key
# Use https://api.deepl.com if you have a DeepL API Pro plan.
DEEPL_API_BASE_URL=https://api-free.deepl.com
TRANSLATION_SOURCE_LOCALE=en
TRANSLATION_TARGET_LOCALES=nl
